[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci


# pdo 目前暂不支持 mysql8默认的'caching_sha2_password'密码认证
# for explanations see: http://php.net/manual/zh/ref.pdo-mysql.php

default_authentication_plugin=mysql_native_password
